* { box-sizing: border-box; margin: 0; padding: 0; }

body {
  font-family: Arial, sans-serif;
  min-height: 100vh;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 40px;
  background: rgb(51, 59, 59);
  padding-left: 7%;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  z-index: 1000;
}

.nav-list {
  display: flex;
  gap: 35px;
  color: white;
  font-size: smaller;
}
.navbar-second {
  position: fixed;
  top: 40px; 
  left: 0;
  right: 0;
  height: 110px;
  background: white;
  padding-left: 7%;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(0,0,0,0.15);
  z-index: 999;
}

.nav-second-list {
  display: flex;
  align-items: center;
  gap: 700px;
  color: orangered;
  font-size:medium;
}

/* NAVBAR 3 */
.navbar-trois {
  position: fixed;
  top: 150px; /* sous la deuxième */
  left: 0;
  right: 0;
  height: 50px;
  padding-left: 7%;
  background: #f5f5f5;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  display: flex;
  align-items: center;
  z-index: 998;
}

.nav-trois-list {
  display: flex;
  gap: 35px;
  font-weight: bold;
  color: #333;
} 


.banniere_bienvenue {
  margin-top: 180px; 
  padding: 40px 7%;
  background: linear-gradient(135deg, #ff7a18, #ff9f45);
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 0 0 12px 12px;
}


.banniere_bienvenue h1 {
  font-size: 2.2rem;
  margin-bottom: 8px;
  font-weight: bold;
}


.banniere_bienvenue strong {
  color: #fffbe6;
}

.banniere_bienvenue p {
  font-size: 1rem;
  opacity: 0.95;
  max-width: 600px;
}


.barre_recherche {
  margin: 30px auto;
  display: flex;
  justify-content: center;
}

.barre_recherche input {
  width: 600px;
  padding: 12px 14px;
  font-size: 1rem;
  border-radius: 4px;     
  border: 1px solid #ccc;
  outline: none;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}


.barre_recherche input::placeholder {
  color: #888;
  text-align: center;
}

.cours {
  background: white;
  border: 2px solid orangered; 

  padding: 25px 20px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 140px;

}

.grille_cours {
  max-width: 1100px;
  margin: 40px auto;
  padding: 0 7%;

  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 colonnes */
  gap: 25px;
}



.cours h3 {
  color: #000;  
  font-size: 1.2rem;
}


.cours-btn {
  align-self: center;
  padding: 10px 18px;
  background: white;           
  color: orangered;            
  border: 2px solid orangered; 
  border-radius: 0;            
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: bold;
}


.cours-btn:hover {
  background: orangered;
  color: white;
}

